CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
GoogleTest-prefix
GoogleBench-prefix
CMakeDoxygen.in
CMakeDoxygenDefaults.cmake
lib/
bin/
*.gcda
*.gcno
docs/
build/
!docs/Doxyfile
